---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Moving services">
  <main class="mx-auto max-w-full px-6 lg:px-8">
    <div class="py-32 sm:py-48">
      <h1>Our Moving Locations</h1>
    </div>
    <div></div>
  </main>
</MainLayout>
