---
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import MainLayout from "~/layouts/MainLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<MainLayout title={post.data.title}>
  <div class="mx-auto max-w-2xl my-40">
    <article class="prose prose-slate">
      <h1 class="">
        {post.data.title}
      </h1>
      <time datetime={post.data.publishedDate} class="text-gray-500"
        >{post.data.publishedDate.toDateString()}</time
      >
      <Content />
    </article>
  </div>
</MainLayout>
