---
import { getCollection } from "astro:content";
import MainLayout from "~/layouts/MainLayout.astro";
import BlogPostListing from "~/components/BlogPostListing.astro";

const blogEntries = await getCollection("blog");
---

<MainLayout title="Blog">
  <div class="py-44 sm:py-48">
    <BlogPostListing
      blogPosts={blogEntries.sort(
        (post1, post2) =>
          new Date(post2.data.publishedDate) -
          new Date(post1.data.publishedDate)
      )}
    />
  </div>
</MainLayout>
