---
import MainLayout from "@layouts/MainLayout.astro";

const pageSnippet = {
  "@context": "https://schema.org",
  "@type": "test snippet",
  "@id": "https://allnepalmovers.com.np/#website",

  name: "All Nepal Packers and Movers",
  description: "Moving Home, Office, flat and Motorbikes",
  publisher: { "@id": "https://allnepalmovers.com.np/#organization" },
  potentialAction: [
    {
      "@type": "SearchAction",
      target: {
        "@type": "EntryPoint",
        urlTemplate: "https://allnepalmovers.com.np/?s={search_term_string}",
      },
      "query-input": "required name=search_term_string",
    },
  ],
  inLanguage: "testing pagesnipet",
};
---

<script
  type="application/ld+json"
  set:html={JSON.stringify(pageSnippet)}
  slot="pageSnippets"
/>

<MainLayout title="Moving services">
  <main class="mx-auto max-w-full px-6 lg:px-8">
    <div class="py-32 sm:py-48">
      <h1>Safe & Reliable Moving Services in Nepal</h1>
      <ul>
        <li>Local Moving</li>
        <li>Long Distance Moving</li>
        <li>Motobike Moving</li>
        <li>Packing and Unpacking</li>
        <li>Business and Office Relocation</li>
        <li>Speciality Item Moving</li>
      </ul>
    </div>
    <div></div>
  </main>
</MainLayout>

