



<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        From the blog
      </h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        Learn more about moving from our very moving blog.
      </p>
    </div>
    <div
      class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2024-03-16" class="text-gray-500">Mar 16, 2024</time>

        </div>
        <div class="group relative">
          <h3
            class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
          >
            <a href="#">
              <span class="absolute inset-0"></span>
              Plan Your Move - Sample Blog
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
            Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam
            vitae illo. Non aliquid explicabo necessitatibus unde. Sed
            exercitationem placeat consectetur nulla deserunt vel. Iusto
            corrupti dicta.
          </p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img
            src="/logo-round.svg"
            alt=""
            class="h-12 w-12 rounded-full bg-gray-50"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Umesh Dhungel
              </a>
            </p>
            <p class="text-gray-600">Founder</p>
          </div>
        </div>
      </article>
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2024-03-16" class="text-gray-500">Mar 16, 2024</time>

        </div>
        <div class="group relative">
          <h3
            class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
          >
            <a href="#">
              <span class="absolute inset-0"></span>
              Plan Your Move - Sample Blog
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
            Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam
            vitae illo. Non aliquid explicabo necessitatibus unde. Sed
            exercitationem placeat consectetur nulla deserunt vel. Iusto
            corrupti dicta.
          </p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img
            src="/logo-round.svg"
            alt=""
            class="h-12 w-12 rounded-full bg-gray-50"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Umesh Dhungel
              </a>
            </p>
            <p class="text-gray-600">Founder</p>
          </div>
        </div>
      </article>
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2024-03-16" class="text-gray-500">Mar 16, 2024</time>

        </div>
        <div class="group relative">
          <h3
            class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
          >
            <a href="#">
              <span class="absolute inset-0"></span>
              Plan Your Move - Sample Blog
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
            Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam
            vitae illo. Non aliquid explicabo necessitatibus unde. Sed
            exercitationem placeat consectetur nulla deserunt vel. Iusto
            corrupti dicta.
          </p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img
            src="/logo-round.svg"
            alt=""
            class="h-12 w-12 rounded-full bg-gray-50"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Umesh Dhungel
              </a>
            </p>
            <p class="text-gray-600">Founder</p>
          </div>
        </div>
      </article>

      <!-- More posts... -->
    </div>
  </div>
</div>
