<div class="bg-white py-10 sm:py-12">
  <div class="mx-auto max-w-full my-10 px-6 lg:px-8">
    <div class="mx-auto max-w-5xl lg:text-center">
      <h2
        class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Your Trusted Moving Partner
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        In Kathmandu, navigating a move can feel overwhelming. All Nepal Packers
        and Movers offers years of local expertise and a commitment to making
        your relocation smooth and stress free. From careful packing to
        efficient transportation, we handle every detail so you can focus on
        settling into your new home.
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-7xl">
      <div
        class="grid max-w-xl grid-cols-1 gap-x-40 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
      >
        <div class="relative pl-16">
          <div class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="0.3"
                stroke="currentColor"
                aria-hidden="true"
                ><path
                  fill="currentColor"
                  d="M14.754 10c.966 0 1.75.784 1.75 1.75v4.749a4.501 4.501 0 0 1-9.002 0V11.75c0-.966.783-1.75 1.75-1.75zm0 1.5H9.252a.25.25 0 0 0-.25.25v4.749a3.001 3.001 0 0 0 6.002 0V11.75a.25.25 0 0 0-.25-.25M3.75 10h3.381a2.74 2.74 0 0 0-.618 1.5H3.75a.25.25 0 0 0-.25.25v3.249a2.5 2.5 0 0 0 3.082 2.433c.085.504.24.985.453 1.432Q6.539 18.999 6 19a4 4 0 0 1-4-4.001V11.75c0-.966.784-1.75 1.75-1.75m13.125 0h3.375c.966 0 1.75.784 1.75 1.75V15a4 4 0 0 1-5.03 3.866c.214-.448.369-.929.455-1.433q.277.066.575.067a2.5 2.5 0 0 0 2.5-2.5v-3.25a.25.25 0 0 0-.25-.25h-2.757a2.74 2.74 0 0 0-.618-1.5M12 3a3 3 0 1 1 0 6a3 3 0 0 1 0-6m6.5 1a2.5 2.5 0 1 1 0 5a2.5 2.5 0 0 1 0-5m-13 0a2.5 2.5 0 1 1 0 5a2.5 2.5 0 0 1 0-5m6.5.5a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3m6.5 1a1 1 0 1 0 0 2a1 1 0 0 0 0-2m-13 0a1 1 0 1 0 0 2a1 1 0 0 0 0-2"
                ></path></svg
              >
            </div>
            Expert Team
          </div>
          <p class="mt-2 text-base leading-7 text-gray-600">
            Our team of trained and experienced movers is dedicated to handling
            your belongings with the utmost care and professionalism. From
            packing to unloading, we ensure every step of your move is executed
            flawlessly.
          </p>
        </div>
        <div class="relative pl-16">
          <div class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
                ></path>
              </svg>
            </div>
            Comprehensive Services
          </div>
          <p class="mt-2 text-base leading-7 text-gray-600">
            Whether it's a residential move, commercial relocation, or DIY Move,
            we offer a wide range of services tailored to meet your specific
            needs. Our all-inclusive approach ensures a seamless transition to
            your new location
          </p>
        </div>
        <div class="relative pl-16">
          <div class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
                ></path>
              </svg>
            </div>
            Customized Moving Plans
          </div>
          <p class="mt-2 text-base leading-7 text-gray-600">
            We understand that every move is unique. That’s why we offer
            personalized moving plans to fit your requirements and budget. From
            special handling of delicate items to flexible scheduling, we
            customize our services to match your needs.
          </p>
        </div>
        <div class="relative pl-16">
          <div class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
                ><path
                  fill="none"
                  stroke="currentColor"
                  d="m6.75 6.75l3.75 3.75M6.75 6.75L8.5 5v-.25l-1.44-.6a12 12 0 0 1-2.88-1.706L3 1.5h-.25L1.5 2.75V3l.944 1.18A12 12 0 0 1 4.15 7.06l.6 1.44H5zM13.734 17a102.1 102.1 0 0 1 4.516 5.5h.25l4-4v-.25s-2.47-1.852-5.5-4.516m.5-2.234a5 5 0 0 0 4.584-7H21.5l-3 3h-2v-2l3-3v-.584a5 5 0 0 0-6.703 6.287L11 10c-4.5 4.5-9.5 8.25-9.5 8.25v.25l4 4h.25S9.5 17.5 14 13l1.797-1.797a4.989 4.989 0 0 0 1.703.297Z"
                ></path></svg
              >
            </div>
            Moving Equipment
          </div>
          <p class="mt-2 text-base leading-7 text-gray-600">
            Our fleet of modern, well-maintained trucks and state-of-the-art
            moving equipment ensures that your belongings are transported safely
            and efficiently. We use the latest tools and techniques to protect
            your items during the move.
          </p>
        </div>
        <div class="relative pl-16">
          <div class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="0.75"
                stroke="currentColor"
                aria-hidden="true"
                ><path
                  fill="currentColor"
                  d="M12.15 16.535q.883 0 1.653-.465q.77-.464.77-1.52q0-.84-.555-1.32t-2.168-1.072q-1.61-.583-2.287-1.231q-.678-.648-.678-1.727q0-.91.683-1.68t1.967-.962v-.683q0-.196.147-.343t.343-.148t.343.148t.147.343v.683q.687.05 1.29.43t.997.966q.098.14.025.299t-.25.226q-.171.067-.352.025t-.304-.202q-.327-.396-.788-.641q-.462-.245-1.083-.245q-.99 0-1.588.509T9.865 9.2t.46 1.179t2.114.99q1.8.65 2.438 1.39q.639.741.639 1.791q0 .706-.28 1.237q-.278.53-.72.88q-.441.349-.981.538t-1.07.237v.683q0 .196-.147.343t-.343.148t-.343-.148t-.147-.343v-.733q-.893-.2-1.568-.682t-1.113-1.294q-.092-.177-.016-.368q.076-.19.253-.257q.17-.068.361-.007q.19.06.289.226q.426.727 1.06 1.126t1.399.399M12 22q-3.05 0-5.467-1.621q-2.418-1.621-3.63-4.362v2.79q0 .214-.142.358t-.357.143t-.357-.143t-.143-.357v-3.692q0-.349.23-.578q.23-.23.578-.23h3.692q.213 0 .357.143t.143.357t-.143.357t-.357.143H3.698q.97 2.569 3.249 4.13Q9.227 21 12 21q3.448 0 5.976-2.254t2.955-5.717q.03-.227.177-.378q.146-.151.373-.151q.213 0 .35.166q.136.167.106.388q-.195 1.894-1.043 3.52t-2.178 2.835t-3.051 1.9T12 22m0-19Q8.667 3 6.091 5.187T3.07 10.952q-.03.227-.177.388q-.146.16-.373.16q-.233 0-.36-.166q-.126-.167-.096-.407q.233-1.971 1.11-3.607q.877-1.635 2.208-2.815t3.031-1.842T12 2q2.992 0 5.467 1.63t3.63 4.43V5.192q0-.213.143-.356t.356-.144t.357.144t.143.356v3.693q0 .348-.23.578t-.577.23h-3.693q-.213 0-.356-.144t-.144-.357t.144-.356t.356-.144h2.706Q19.391 6.2 17.101 4.6T12 3"
                ></path></svg
              >
            </div>
            Transparent Pricing
          </div>
          <p class="mt-2 text-base leading-7 text-gray-600">
            We believe in honest and upfront pricing. With All Nepal Packers and
            Movers, you’ll receive a detailed estimate with no hidden fees. Our
            transparent pricing policy ensures that you know exactly what to
            expect, helping you plan your move with confidence.
          </p>
        </div>
        <div class="relative pl-16">
          <div class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
                ><g fill="none"
                  ><circle
                    cx="12"
                    cy="12"
                    r="9.5"
                    stroke="currentColor"
                    stroke-linecap="round"></circle><path
                    stroke="currentColor"
                    stroke-linecap="round"
                    d="M9.835 13.25a2.502 2.502 0 0 0 4.33 0"></path><rect
                    width="3"
                    height="2"
                    x="7"
                    y="8"
                    fill="currentColor"
                    rx="1"></rect><rect
                    width="3"
                    height="2"
                    x="14"
                    y="8"
                    fill="currentColor"
                    rx="1"></rect></g
                ></svg
              >
            </div>
            Customer Satisfaction
          </div>
          <p class="mt-2 text-base leading-7 text-gray-600">
            Our top priority is your satisfaction. We pride ourselves on our
            exceptional customer service and have a track record of positive
            reviews from our clients. Our team is available to address any
            questions or concerns, ensuring a smooth and stress-free moving
            experience.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
