---
import Wrapper from "@components/ui/Wrapper.astro";
import CoverImage from "@assets/images/hero-image.jpg";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<Wrapper>
  <div>
    <div class="relative isolate">
      <!-- hero contents -->
      <div class="max-w-full flex flex-wrap-reverse lg:py-20 py-4">
        <div class="w-full lg:w-1/2">
          <div
            class="my-4 inline-block rounded-lg bg-gradient-to-r from-orange-400
    to-red-400 px-3 py-2 text-xs sm:text-base font-medium text-white"
            style="transform: rotate(-2deg);"
          >
            <span
              >&starf; &starf; &starf; &starf; &starf; “Highly recommend their
              shifting services”</span
            >
          </div>
          <div class="lg:max-w-sm">
            <h1
              class="text-4xl sm:text-5xl font-semibold tracking-tight text-gray-900"
            >
              <!-- Moving Made Easy: Affordable Rates, Reliable Service -->
              Reliable Packers and Movers in Nepal
            </h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              Experienced packers and movers you can trust, at prices you can
              afford. Unpack your dreams, not the stress. Let's make your move
              smooth.
            </p>
          </div>
          <div class="my-10">
            <a
              href="/free-quote"
              class="rounded-md bg-indigo-600 px-8 py-5 tracking-wide font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >Get Your Free Moving Quote</a
            >
          </div>
          <div class="flex items-center space-x-1 mt-5">
            <Icon name="family" class="h-10 w-12" />
            <span class="text-xs leading-tight text-gray-600"
              >Trusted by 1000+ families for safe,<br />easy moves across Nepal!
            </span>
          </div>
        </div>
        <div class="w-full lg:w-2/3 lg:absolute top-0 right-0 lg:mt-12 -z-10">
          <Image
            src={CoverImage}
            alt="Movers loading house furnitures and boxes safely in a truck"
          />
          <!-- image from: https://www.freepik.com/premium-ai-image/moving-service-delivery-company_336775292.htm#fromView=search&page=3&position=21&uuid=4a67ba8e-61e3-4658-846d-8f44fd8a1dff -->
        </div>
      </div>
      <!-- hero content end -->
    </div>
  </div>
</Wrapper>
