---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout
  title="Page Not Found"
  description="Looking to learn more about the top moving company in Nepal? All Nepal Packers and Movers is the best place to fulfill your moving needs, moving tips and resources."
  tags="Moving Company, Best packers and movers, movers and packers, packers movers"
>
  <article class="mx-auto container px-6 my-20 prose max-w-screen-xl">
    <section class="section-sm text-center pb-20">
      <div class="container">
        <div class="row justify-center text-dark">
          <div class="sm:col-10 md:col-8 lg:col-6">
            <span class="text-[8rem] block font-bold"> 404 </span>
            <h1 class="h2 mb-4">Page Not Found</h1>
            <div class="content mb-20">
              <p>
                The page you are looking for may have been removed, renamed, or
                is temporarily unavailable.
              </p>
            </div>
            <a
              href="/"
              class="bg-indigo-600 hover:bg-indigo-500 rounded-md text-white px-6 py-3 mt-8"
              >Back To Home</a
            >
          </div>
        </div>
      </div>
    </section>
  </article>
</MainLayout>
