---
import MainLayout from "~/layouts/MainLayout.astro";
---

<MainLayout title="About Best Moving Company in Nepal">
  <div class="max-w-full mx-auto px-8 py-32 sm:py-48">
    <div>
      <h1 class="text-3xl font-bold pb-10">
        About All Nepal Packers and Movers
      </h1>
      <p>
        All Nepal Packers and Movers is a moving company based in Kathmandu,
        Nepal and has been moving families and businesses all over Nepal.
      </p>
      <p>
        We value our customer and we will be there to help make you move stress
        free as much as possible. With trained packers and movers, best tools
        and moving vehicles to fit your move, we can handle your move with ease
        and utmost care.
      </p>
    </div>
    <div>
      <h2 class="text-2xl font-bold py-10">
        Why Choose All Nepal Packers and Movers
      </h2>
    </div>
  </div>
</MainLayout>
