---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Contact us for best packers and Movers">
  <div class="max-w-screen-2xl mx-auto px-8 py-20 sm:py-24">
    <div>
      <h1 class="text-3xl font-bold pb-10">Contact us</h1>
    </div>
  </div>
</MainLayout>
