---
import QuoteBanner from "~/components/QuoteBanner.astro";
import MainLayout from "~/layouts/MainLayout.astro";

const title = "Free Moving Quotes in Nepal";
const description =
  "Get free, competitive moving quotes from top movers in Nepal. All Nepal Packers and Movers serves all locations within Nepal. Call for a quote today!";
---

<MainLayout {title} {description}>
  <div class="mt-32">
    <QuoteBanner />
  </div>
</MainLayout>

