---
import Hero from "./_components/Hero.astro";
import FeaturedPost from "./_components/FeaturedPost.astro";
import MovingProcess from "./_components/MovingProcess.astro";
import Services from "./_components/Services.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import BlogPostListing from "../components/BlogPostListing.astro";
import Wrapper from "@components/ui/Wrapper.astro";
import SocialProof from "@components/index/SocialProof.astro";

const blogEntries = await getCollection("blog");
---

<MainLayout title="Best Packers and Movers in Nepal">
  <Hero />
  <SocialProof />
  <FeaturedPost />
  <MovingProcess />
  <Services />
  <Wrapper>
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      From the blog
    </h2>
    <p class="mt-5 text-lg leading-8 text-gray-600">
      Learn more about moving from our very moving blog.
    </p>

    <BlogPostListing
      blogPosts={blogEntries
        .sort(
          (post1, post2) =>
            new Date(post2.data.publishedDate).valueOf() -
            new Date(post1.data.publishedDate).valueOf()
        )
        .slice(0, 3)}
    />
  </Wrapper>
</MainLayout>
