---
import BlogPostCard from "./BlogPostCard.astro";

const { blogPosts } = Astro.props;
---

<div
  class="max-w-screen-2xl mx-auto mt-5 grid  grid-cols-1 gap-x-8 gap-y-16 pt-10 sm:mt-5 sm:pt-10 lg:grid-cols-3"
>
  {blogPosts.map((post: any) => <BlogPostCard post={post} />)}
</div>
