---
import BlogPostCard from "./BlogPostCard.astro";

const { blogPosts } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-10">
  {blogPosts.map((post: any) => <BlogPostCard post={post} />)}
</div>
