---

---

<style>
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<div
  class="mx-auto max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8"
>
  <div class="shadow-sm rounded-xl bg-indigo-50">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
      <div
        class="bg-indigo-600 rounded-t-xl lg:rounded-l-xl lg:rounded-tr-none flex items-center px-10 py-10 text-indigo-50"
      >
        <div>
          <h2 class="font-bold text-3xl py-3">Have a plan to Moving?</h2>
          <p>We are ready to help</p>
        </div>
      </div>

      <div class="px-5 pb-10">
        <form
          action="https://script.google.com/macros/s/AKfycbx57A00HpSdGpouqcXik1j_8oZz9gByV98wK4fkYdCS/dev"
          target="_self"
          method="POST"
          id="quoteForm"
        >
          <div class="space-y-12">
            <div class="pb-2">
              <div
                class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
              >
                <div class="sm:col-span-3">
                  <label
                    for="full-name"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Full Name</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      name="name"
                      required
                      id="full-name"
                      autocomplete="given-name"
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    />
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="phone-number"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Phone Number</label
                  >
                  <div class="mt-2">
                    <input
                      type="tel"
                      name="phone"
                      id="phone-number"
                      autocomplete="tel-national"
                      pattern="[0-9]{10}"
                      required
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    />
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="email"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Email address</label
                  >
                  <div class="mt-2">
                    <input
                      id="email"
                      name="email"
                      type="email"
                      autocomplete="email"
                      required
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    />
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="move-type"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Move Type</label
                  >
                  <div class="mt-2">
                    <select
                      id="move-type"
                      name="type"
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                    >
                      <option value="Apartment">Apartment</option>
                      <option value="Flat">Flat</option>
                      <option value="House">House</option>
                      <option value="Office">Office</option>
                      <option value="Motorbike">Motorbike</option>
                    </select>
                  </div>
                </div>

                <div class="sm:col-span-3 sm:col-start-1">
                  <label
                    for="move-from"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Moving From</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      name="from"
                      id="move-from"
                      autocomplete="address-level2"
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    />
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label
                    for="move-to"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Moving To</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      name="to"
                      id="move-to"
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-6 flex items-center gap-x-6">
            <button
              type="submit"
              class="w-full rounded-md bg-indigo-600 px-6 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >Get a Quote</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="modalMessage"></p>
  </div>
</div>

<script>
  let form = document.getElementById("quoteForm");
  let modal = document.getElementById("myModal");
  let modalMessage = document.getElementById("modalMessage");

  // Function to show the modal
  function showModal(message: string) {
    // Set the message in the modal
    modalMessage.textContent = message;

    // Show the modal
    modal.style.display = "block";

    // Add event listener to close the modal when the close button is clicked
    var closeButton = document.getElementsByClassName("close")[0];
    closeButton.addEventListener("click", function () {
      modal.style.display = "none";
    });
  }

  // Add event listener to the form submission
  form.addEventListener("submit", function (event) {
    event.preventDefault(); // Prevent the default form submission

    // Show the modal immediately to indicate form submission is in progress
    showModal("Submitting form...");

    // Perform an AJAX request to submit the form
    var xhr = new XMLHttpRequest();
    xhr.open("POST", this.action);
    xhr.onreadystatechange = function () {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          // Successful response
          var response = xhr.responseText;

          showModal(response); // Show the modal with the response message
          form.reset(); //Clear the form fields
        } else {
          console.log(response);
          // Error response
          var response = xhr.responseText;
          showModal(response);
          // showModal("Error: Something went wrong."); // Show a generic error message
        }
      }
    };
    xhr.send(new FormData(this));
  });
</script>
