---
import BaseHead, {
  type Props as HeadProps,
} from "~/components/common/BaseHead.astro";
import Header from "~/components/common/Header.astro";

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...head} />
  </head>
  <body>
    <main>
      <Header />
      <slot class="py-32 sm:py-48" />
    </main>
  </body>
</html>
